menu "LA32R architecture"
	depends on LA32R

config SYS_ARCH
	default "la32r"

choice
    prompt "Board select"

config TARGET_LA32RSOC_DEMO
    bool "LA32RSoC Demo SoC"

config TARGET_LA32RMEGA_DEMO
    bool "LA32RSoC Demo SoC"

endchoice

config LA32R_L1_CACHE_SHIFT
	int
	default "4"

config SYS_ICACHE_LINE_SIZE
	int
	default "4"
	help
	  The size of L1 Icache lines, if known at compile time.

config SYS_DCACHE_LINE_SIZE
	int
	default "4"
	help
	  The size of L1 Dcache lines, if known at compile time.

menu "OS boot interface"

config LA32R_BOOT_FDT
	bool "Hand over a flattened device tree to Linux kernel"
	default y
	help
	  Enable this option if you want U-Boot to hand over a flattened
	  device tree to the kernel. According to UHI register $a0 will be set
	  to -2 and the FDT address is stored in $a1.
endmenu

config LA32R_RELOCATION_TABLE_SIZE
	hex "Relocation table size"
	range 0x100 0x4000
	default "0x4000"
	---help---
	  A table of relocation data will be appended to the U-Boot binary
	  and parsed in relocate_code() to fix up all offsets in the relocated
	  U-Boot.

	  This option allows the amount of space reserved for the table to be
	  adjusted in a range from 256 up to 64k. The default is 32k and should
	  be ok in most cases. Reduce this value to shrink the size of U-Boot
	  binary.

	  The build will fail and a valid size suggested if this is too small.

	  If unsure, leave at the default value.

source "board/nscscc/Kconfig"

endmenu
